* {
    
    text-align: center;
    align-items: center;
    /* font-family: sans-serif; */
    /* outline: 2px solid red; */
}

button {
    cursor: pointer;
}

body {
    margin: 0;
    height: 50vh;
    width: 100vw;
}



#display {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

   
}

#showBook {

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  margin: auto;
  padding: auto;
}

nav {

    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: brown;
    box-shadow: 3px 3px 3px rgb(248, 181, 106);
    padding: 20px;
}

nav > .title {

    margin-left: 100px;
}

/* Read button */



.footer {
    background-color: rgb(180, 180, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    margin-top: 480px;
}
